@font-face {
    font-family: 'dragon-hunter-font';
    src: url('fonts/dragon-hunter-font/DragonHunter-9Ynxj.otf');
    src: url('fonts/dragon-hunter-font/DragonHunter-9Ynxj.otf') format('embedded-opentype'),
         url('fonts/dragon-hunter-font/DragonHunter-9Ynxj.otf') format('woff'),
         url('fonts/dragon-hunter-font/DragonHunter-9Ynxj.otf') format('truetype'),
         url('fonts/dragon-hunter-font/DragonHunter-9Ynxj.otf') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
    margin: 0;
    background-color: black;
    font-family: 'dragon-hunter-font', 'Times New Roman', Times, serif;
    text-align: center;
    color: #d8a444;
}
header{
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: white;
    padding: 0.1rem;
    border-style: solid;
    border-color: #d8a444;
}

#user_btn{
    cursor: pointer;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    transition: transform 0.2s ease;
}
a{
    text-decoration: none;
}
#logo img {
    width: 20rem;
    height: auto;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

