@font-face {
    font-family: 'dragon-hunter-font';
    src: url('fonts/dragon-hunter-font/DragonHunter-9Ynxj.otf');
    src: url('fonts/dragon-hunter-font/DragonHunter-9Ynxj.otf') format('embedded-opentype'),
         url('fonts/dragon-hunter-font/DragonHunter-9Ynxj.otf') format('woff'),
         url('fonts/dragon-hunter-font/DragonHunter-9Ynxj.otf') format('truetype'),
         url('fonts/dragon-hunter-font/DragonHunter-9Ynxj.otf') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0.5rem;
    border-style: solid;
    border-color: #d8a444;
}

#user_btn{
    cursor: pointer;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    transition: transform 0.2s ease;
}
a{
    text-decoration: none;
}
#logo img {
    width: 100px; /* Try a slightly smaller size */
    height: auto;
    display: block;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

